.button-container{
    @apply w-full inline-flex justify-center items-baseline flex-wrap;
}
.button {
    @apply font-bold py-2 px-4 rounded;
    font-size: 1rem;
    transition: all ease 0.5s;
    background-color: var(--primary);
    box-shadow: 0 4px #fff;
}

.button:focus {
    transform: scale(0.9);
}

.button:hover {
    opacity: 0.8;
}

.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

/* Larger devices */

@media (min-width: 769px) {

	.button-container {
        @apply justify-end; 
    }

    .button {
        @apply px-6;
        font-size: 1.2rem;
    }
}
/* Mobile */
@media (max-width: 500px) {
	.twitter-button {
        display: none;
    }
    .subscribe-button{
        margin-right: 0 !important;
    }
}