@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./variables.css";

.darkMode {
    height: auto;
    background: var(--dark-theme-overall-background);
    color: rgba(255, 255, 255, 0.897);
    transition: all 0.5s linear;
}

.lightMode{
    height: auto;
    background-image: var(--light-theme-overall-background);
    background-image: 400% 400%;
	-webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
    transition: all 0.5s linear;
}
