.darkMode {
    height: auto;
    background: linear-gradient(62deg, #031d51 0%, #000000 30%, #031d51 86%);
    color: rgba(255, 255, 255, 0.897);  
    background-color: transparent;
    transition: background-color all 1.5s;
    background-attachment: scroll; //fixed value results in an annoying bug
}

.lightMode {
    height: auto;
    background: linear-gradient(62deg, #0855a1 0%, #ad93c5 28%, #0855a1 87%);
    background-color: transparent;
    transition: background-color all 1.5s;
    background-attachment: scroll;
}

.darkTransition {
    background-color: #031d51 ;
    transition: background-color all 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lightTransition {
    background-color: #0854a1bd;
    transition: background-color all 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*.lightMode .menu-icon{
    color: #C850C0;
    transition: color .5s;
}*/

  /* Chrome, Safari, Opera */
@-webkit-keyframes gradient {
    from {opacity: 0.95;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0.95;}
    to {opacity: 1;}
}
