.header {
    @apply flex justify-between items-center mb-5;
}

// Desktop Nav Bar

.desktop-nav {
    position: relative;
    text-align: center;
}

.desktop-theme-switch > i {
    font-size: 1.4rem;
}
.desktop-theme-switch, .mobile-theme-switch {
    position: relative;
    color: var(--primary-light);
    cursor: pointer;
    padding: 0 10px;
    transition: all 1s ease;
    animation: ani 3s infinite;
    -webkit-animation: ani 3s infinite;
    -moz-animation: ani 3s infinite;
}

@keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 5px;
    }
    100% {
      left: 0;
    }
}

@-webkit-keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 5px;
    }
    100% {
      left: 0;
    }
}
  
  

.nav__link {
    margin-left: 25px;
    @apply p-1;
    border-radius: 5px;
    position: relative;
    transition: all .3s;
    
}

.nav__link.active--exact {
    color: var(--primary);
    text-decoration: line-through;
}

.nav__link:first-child { 
    margin-left: 25px;
}

.nav__link:after,
.nav__link:before {
    transition: all 1s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    height: 1px;
}

.nav__link:hover {
    width: auto;
    color: #fff;
    z-index: 1;
}

.nav__link:hover:after {
    cursor: pointer;
    width: 100%;
    z-index: -10;
    animation: fill .5s forwards;
    -webkit-animation: fill .5s forwards;
    -moz-animation: fill .5s forwards;
    opacity: 1;
    border-radius: 5px;


}

.nav__link:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
.nav__link:hover:after {
    border-bottom: 1px solid var(--primary);
}



/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: var(--primary);
    }
  }

/* Mobile Navigation*/
.mobile-nav {
    @apply p-1;
    margin-bottom: 28px;
    position: relative;
}

.menu { 
    background-color: var(--menu-background);
    font-size: 1.3rem;
    height: 22rem;
    border: 1px solid var(--primary);
    left: 0; 
    right: 0; 
    margin-top: -500px;
    margin-left: auto; 
    margin-right: auto; 
    cursor: pointer;
     /* Needs a specific value to work, width is specified inline */
}


.mobile-theme-switch {
    font-size: 1.5rem;
}

.menu-icon {
    font-size: 1.7rem;
    color: var(--primary);
    transition: color 1s;
}

.menu-icon:hover {
    color: var(--primary);
}
.menu-icon:focus {
    color: white;
}

.menu-link{
    @apply p-4 m-4 font-bold block;
     transition: border .2s;
}

.menu-link.active--exact {
    color: var(--primary);
    text-decoration: line-through;
}

.menu-link:hover {
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
}

.menu-link:focus {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* Layout Breakpoints *****/

/* Larger devices */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
        font-size: 7px;
    }
    .mobile-nav {
        display: none;
    }

}

/* Mobile */
@media (max-width: 768px) {
    .nav__link{
        display: none;
    }
    .desktop-light-switch{
        display: none;
    }
}
