@import "./variables.css";

.header {
    @apply flex justify-between items-center h-auto mb-5;
  }

.nav__link {
    margin-left: 40px;
    @apply py-2;
    transition: border .7s;
}

.nav__link:hover {
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid var(--pink);
    border-top: 1px solid var(--pink);
}

.menu { /* Mobile Menu*/
    background-color: var(--dark-menu-background);
    height: 24rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
     /* Need a specific value to work, width is specified inline */
}


.menu-icon {
    font-size: 1.7rem;
    color: var(--light-blue);
    transition: color .5s;
}

.menu-icon:hover {
    color: var(--pink);
}
.menu-icon:focus {
    color: white;
}

.menu-link{
    @apply p-4 m-4 font-bold block;
     transition: border .2s;
}

.menu-link:hover {
    border-bottom: 1px solid var(--pink);
    border-top: 1px solid var(--pink);
}

.menu-link:focus {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

/* Layout Breakpoints *****/

/* Larger devices */
@media (min-width: 769px) {
    .menu-icon {
        display: none;
        font-size: 7px;
    }

}

/* Mobile */
@media (max-width: 768px) {
    .nav__link{
        display: none;
    }
}
