@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./variables.css";


body {
    box-sizing: border-box !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
    height: auto;
    /* for desktop mode  */
    background-image: var(--light-theme-overall-background);
    background-image: var(--dark-theme-overall-background);

    background-size: cover;
    height: 100vh;
    line-height: 1.5;

}


/* containers */
.container {
    background: transparent;
    @apply h-screen w-screen mx-auto p-4;
}

.lg-container {
    background-color: rgba(16, 8, 18, 0.61);
    color: var(--dark-theme-text-color);
    border-radius: 3rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    @apply p-8 h-full w-full;
    overflow-y: auto;
}

/* Cards */

.post-card{
    @apply h-32 p-4 m-4 border-2 rounded-lg border-solid border-gray-200 flex items-center
           cursor-pointer justify-between;
    :hover {
        @apply h-40 ;
    }
}

/* Profile Picture */

.profile-picture {
    @apply h-48 w-48;
    border: 2px solid pink;
    border-radius: 50%;

}

/* Layout Breakpoints *****/

/* Larger devices */
@media (min-width: 1020px) {
    .container {
        @apply px-0;
    }
    .lg-container{
        @apply px-8;
    }

    .icon {
        display: none;
        font-size: 7px;
    }

}

/* Mobile */
@media (max-width: 768px) {

    .lg-container {
        border-radius: 2rem;
    }

    .nav__link{
        display: none;
    }
    .profile-picture {
        @apply h-24 w-24;
    }

    .post-card{
        @apply h-24;
    }
}
