@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./variables.css";

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box !important;
    height: auto;

    /* for desktop mode  scrollbar-color: var(--pink) !important; */
    @apply h-screen;
    background-size: cover;
    height: 100vh;
    line-height: 1.5;

}

/* containers */
.container {
    background: transparent;
    @apply h-screen w-screen mx-auto p-4;
}

.lg-container {
    background-color: rgba(16, 8, 18, 0.61);
    color: var(--dark-theme-text-color);
    border-radius: 3rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    @apply p-8  h-full w-full;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Cards */

.post-card{
    @apply h-32 p-4 m-2 border-2 rounded-lg border-solid border-gray-200 flex items-center
           cursor-pointer justify-between;
    :hover {
        @apply h-40 ;
    }
}

.project-card {
    @apply h-auto m-5 border-2 rounded-lg border-solid border-gray-200 inline-flex
           cursor-pointer;
}


/* Images and Profile Picture */

.profile-picture {
    @apply h-48 w-48 mx-auto object-cover my-5;
    border: 2px solid pink;
    border-radius: 50%;
}

.project-picture {
    @apply h-64 w-1/3 mx-auto object-cover;
    
}

/* Layout Breakpoints *****/

/* Larger devices */
@media (min-width: 769px) {
    .container {
        @apply px-0;
    }
    .lg-container{
        @apply px-8;
    }
    .edgy {
        border-top-right-radius: 2rem ;
        border-bottom-right-radius: 2rem ;
    }
}

/* Mobile */
@media (max-width: 767px) {

    .lg-container {
        border-radius: 2rem;
    }

    .profile-picture {
        @apply h-24 w-24 my-5;
    }

    .post-card{
        @apply h-24;
    }
    .project-card {
        display: block;
    }
    .project-picture{
        @apply h-56 w-56; 
    }
    .excerpt {
        display: none;
      }
}
