@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./variables.css";

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box !important;
    height: auto;
    /* for desktop mode  scrollbar-color: var(--primary) !important; */
    @apply h-screen;
    background-size: cover;
    max-height: 100vh;
    background-color: transparent;
    line-height: 1.5;

}

/* containers */
.container {
    background: transparent;
    @apply h-screen w-screen mx-auto p-4;
    max-height: 100vh;
}

.lg-container {
    background-color: rgba(16, 8, 18, 0.61);
    color: var(--dark-theme-text-color);
    border-radius: 3rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    @apply p-8  h-full w-full;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
}

/* Cards */

.post-card {
    min-height: 8rem;
    max-height: auto;
    @apply  my-4 p-2 border-2 rounded-lg border-solid border-gray-200 flex items-center
           cursor-pointer justify-between;
    border-color: var(--primary);
    :hover {
        @apply h-40 ;
    }
}

.project-card {
    @apply h-auto m-5 border-2 rounded-lg border-solid border-gray-200 inline-flex
           cursor-pointer;
}


/* Images and Profile Picture */
.profile-picture-container {
    @apply w-56 mx-auto object-cover my-5;
    border-radius: 50%;
    transition: 0s display;
    text-align: center;
}

.abeg {
    display: none;
    @apply w-56 text-center absolute mx-auto px-1;
    margin-top: -30px;
    transition: 0s display;
}

.profile-picture-container:hover .abeg {
    display: block;
    transition-delay: .8s;
}

.profile-picture {
    @apply h-48 w-48 mx-auto object-cover my-5;
    border: 2px solid var(--primary);
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform 2s ease-in-out;
}

.profile-picture:hover, .profile-picture:focus {
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
}

.project-picture {
    @apply h-64 w-1/3 mx-auto object-cover;
    
}

/* Layout Breakpoints *****/

/* Larger devices */
@media (min-width: 769px) {
    .container {
        @apply px-0;
    }
    .lg-container{
        @apply px-8;
    }
    .edgy {
        border-top-right-radius: 2rem ;
        border-bottom-right-radius: 2rem ;
    }
}

/* Mobile */
@media (max-width: 767px) {

    .lg-container {
        border-radius: 2rem;
    }

    .profile-picture {
        @apply h-24 w-24 my-5;
    }

    .project-card {
        display: block;
    }
    .project-picture{
        @apply h-56 w-56; 
    }
}
