.gridsome-highlight {
    background-color: var(--code-block-background)!important;
    border: 2px solid white !important;

}

article>h2 {
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: 400;
}

article>div>h3 {
    font-size: 1.9rem;
    margin: 24px 0 -12px 0;
    font-weight: 400;
}

article>div>h4 {
    font-size: 1.6rem;
    margin: 24px 0 -12px 0;
    font-weight: 400;
}

article>div>p {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 16px 0;
}

ol {
    list-style-type: square;
}

li>.link {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 16px 0;
}



.link {
    color: #5baaf8;
}

.hint {
    color: #5baaf8;
    font-weight: bold;
}

p > img {
    margin: 20px auto;
    height: auto;

}

div > p > img.g-image {
    @apply  w-full;
}


.centered-image {
    @apply mx-auto;
}

div.centered-image > img {
    @apply w-full;
}

hr {
    border-top: 1px dashed var(--primary) !important;
}

/* Code styles*/

.code-word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.07em;
    color: white;
}


/* Table */
.table-container {
    min-width: 100%;
    position: relative;
    margin-right: 0!important;
    overflow-x: scroll;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0pky {
    font-size: 1rem;
    border-color: white;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}


@media (max-width: 768px) {
    article>h2 {
        font-size: 1.8rem !important;
    }

    article>div>h3 {
        font-size: 1.7rem;
    }

    article>div>h4 {
        font-size: 1.4rem;
    }

    table {
        margin: 0 -16px;
    }
    .tg .tg-0pky {
        font-size: 0.8rem;
    }

}
