
body {
    font-family: 'Lato', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-kerning: normal;
}

   h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif;
    font-kerning: auto;
}

.h1 {
    font-size: 2rem;
    
}

.h2 {
    font-size: 1.8rem;
}

.h3 {
    font-size: 1.5rem;
}

.primary-color{
    color: var(--primary);
}
/* Mobile Devices */
@media (max-width: 768px) { 
    .h1{
        font-size: 1.7rem;
    }
    .h2{
        font-size: 1.6rem !important;
    }
    .h3 {
        font-size: 1.3rem !important;
    }
}
