@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./variables.css";

.h1 {
    font-size: 2rem;
    font-style: italic;
    
}

.h2 {
    font-size: 1.7rem;
}

.h3 {
    font-size: 1.5rem;
}

/* Mobile Devices */
@media (max-width: 768px) { 
    .h1{
        font-size: 1.5rem;
    }
    .h2{
        font-size: 1.3rem;
    }
    .h3 {
        font-size: 1rem;
    }
}