
:root {
    /*General*/
    --pink: #C850C0;
    --menu-background: rgb(3, 7, 31);

    /* Dark */
    --text-color: rgba(255, 255, 255, 0.816);
}

[data-theme="dark"] , [data-theme="light"]   {
    --postcard-background: #020c1f;
    --code-comment: #4d9cec;
    --code-background-color: #12539482;
    --primary:  #3e8fe0cf;
    --primary-light:  #bedcfa;
    
}