
:root {
    /*General*/
    --pink: #C850C0;
    --text-color: rgba(255, 255, 255, 0.816);
    --primary:  #2686e6 ;
    --primary-light:  #bedcfa;
    
}

[data-theme="dark"] {
    --menu-background: rgba(3, 7, 31, 0.941);
    --postcard-background: rgb(3, 7, 31);
    --code-block-background: rgb(0, 2, 19);
    --code-word-background:  rgb(19, 24, 69);
    
}

[data-theme="light"]  {
    --menu-background: #080b12ec;
    --postcard-background: #10081270;
    --code-block-background: rgb(19, 21, 37);
    --code-word-background:  rgb(13, 17, 56);
}

