@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --dark-blue: #020758;
    --light-blue:  #8EC5FC;


    /* Light */
    --light-theme-overall-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 28%, #8ec5fc 87%);
    --light-theme-lg-container-background: rgba(255, 255, 255, 0.7);
    --light-text-color:rgba(16, 8, 18, 0.9);

    /* Dark */
    --dark-theme-overall-background: linear-gradient(43deg, #1f0d3d 0%, #8d2786 30%, #020758 66%);
    --dark-theme-lg-container-background: rgba(16, 8, 18, 0.9);
    --dark-menu-background: rgba(3, 7, 31, 0.938);
    --dark-theme-text-color: rgba(255, 255, 255, 0.816);

    --link-hover-timing: all 0.25s ease-in-out;
    --theme-change-timing: all 1s ease-in-out;
}

[data-theme="dark"] {
    --code-background-color: #61137e80;
    --primary: #C850C0;
    
}

[data-theme="light"] {
    --code-background-color: #12539482;
    --primary:  #3e8fe0;
}