@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --dark-blue: #020758;
    --light-blue:  #8EC5FC;
    --pink: #C850C0;


    /* Light */
    --light-theme-overall-background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 28%, #8ec5fc 87%);
    --light-theme-lg-container-background: rgba(255, 255, 255, 0.7);
    --light-text-color:rgba(16, 8, 18, 0.9);

    /* Dark */
    --dark-theme-overall-background: linear-gradient(43deg, #1f0d3d 0%, #C850C0 30%, #020758 66%);
    --dark-theme-lg-container-background: rgba(16, 8, 18, 0.9);
    --dark-menu-background: rgba(6, 11, 40, 0.9);
    --dark-theme-text-color: rgba(255, 255, 255, 0.816);

    --link-hover-timing: all 0.25s ease-in-out;
    --theme-change-timing: all 1s ease-in-out;
}
