@tailwind base;

@tailwind components;

@tailwind utilities;


@import "./styles/variables.css";
@import "./styles/dark-theme.scss";
@import "./styles/layout.scss";
@import "./styles/typography.scss";
@import "./styles/effects.css";
@import "./styles/header.scss";
@import "./styles/markdown.scss";
@import "./styles/button.scss";

#app {
    transition: background-color 1s ease-in-out;
}
/* * {
    border: 1px solid red;
} */